<?php
    $colorConfig = $this->getThemeConfiguration('color_customization');
    $contentConfig = $this->getThemeConfiguration('content_customization');
?>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('/sw.js');
                });
            }

            window.actionName = {
                type: `<?= $this->getAction(); ?>`
            };

            window.contentConfiguration = <?= json_encode($contentConfig) ?> || {};
        </script>
        <script async src="<?= $this->getStaticFile("assets/pwacompat.min.js"); ?>"></script>

        <!-- TODO: Find or implement helper to generate fonts related code -->
        <link rel="preload" href="<?= $this->getStaticFile("assets/font/Muli-Light.ttf"); ?>" as="font" type="font/ttf" crossorigin="">
        <link rel="preload" href="<?= $this->getStaticFile("assets/font/Muli-Regular.ttf"); ?>" as="font" type="font/ttf" crossorigin="">
        <link rel="preload" href="<?= $this->getStaticFile("assets/font/Muli-SemiBold.ttf"); ?>" as="font" type="font/ttf" crossorigin="">
        <link rel="preload" href="<?= $this->getStaticFile("assets/font/Muli-Bold.ttf"); ?>" as="font" type="font/ttf" crossorigin="">

        <style>
            <?php if ($colorConfig['enable_color_customization']['enable_custom_colors'] !== "0"): ?>
                <?php $colorArray = $colorConfig['primary_colors'] + $colorConfig['secondary_colors']; ?>
                :root {
                    <?php foreach ($colorArray as $code => $color): ?>
                        <?php if (strpos($code, 'color') !== false): ?>
                            <?= sprintf('--imported_%s: #%s;', $code, $color); ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                }
            <?php endif; ?>

            @font-face {
                font-family: 'Muli';
                font-weight: 300;
                font-display: fallback;
                src: local('Muli Light'), local('Muli-Light'), url(/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/assets/font/Muli-Light.ttf) format('truetype');
            }

            @font-face {
                font-family: 'Muli';
                font-weight: normal;
                font-display: fallback;
                src: local('Muli Regular'), local('Muli-Regular'), url(/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/assets/font/Muli-Regular.ttf) format('truetype');
            }

            @font-face {
                font-family: 'Muli';
                font-weight: 600;
                font-display: fallback;
                src: local('Muli SemiBold'), local('Muli-SemiBold'), url(/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/assets/font/Muli-SemiBold.ttf) format('truetype');
            }

            @font-face {
                font-family: 'Muli';
                font-weight: bold;
                font-display: fallback;
                src: local('Muli Bold'), local('Muli-Bold'), url(/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/assets/font/Muli-Bold.ttf) format('truetype');
            }
        </style>

        <link rel="shortcut icon" href="<?= $this->getStaticFile("assets/favicon/favicon.ico"); ?>">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-title" content="ScandiPWA" /><meta name="apple-mobile-web-app-capable" content="yes" /><meta name="apple-mobile-web-app-status-bar-style" content="default" /><meta name="theme-color" content="#ffffff" /><link rel="apple-touch-startup-image" sizes="640x640" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_640x640.c74c69d497117b469af4e52643f959cd.png" /><link rel="apple-touch-startup-image" sizes="750x750" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_750x750.7834f2228ee9ae50ecadd75b2511dc57.png" /><link rel="apple-touch-startup-image" sizes="1242x1242" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_1242x1242.c7b835ca87c39a7bef4b5320fe6c7e1a.png" /><link rel="apple-touch-startup-image" sizes="1125x1125" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_1125x1125.d5ecd0edaa6c42f49d8bd0060f37098e.png" /><link rel="apple-touch-startup-image" sizes="1536x1536" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_1536x1536.606fae12ca7958651ba5690ab4aa9ada.png" /><link rel="apple-touch-startup-image" sizes="1668x1668" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_1668x1668.b8547a2b7bd1239bdd54a2576b52264c.png" /><link rel="apple-touch-startup-image" sizes="2048x2048" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_2048x2048.63dae46942f66b14aae6039d8f2adad3.png" /><link rel="apple-touch-icon" sizes="1024x1024" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_1024x1024.c51525ef800057984975764af2388c1f.png" /><link rel="apple-touch-icon" sizes="180x180" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_180x180.fb448598880afee8c8d46152e16cac3d.png" /><link rel="apple-touch-icon" sizes="167x167" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_167x167.c16edf750c33f8d2eb93dc01afe94b3b.png" /><link rel="apple-touch-icon" sizes="152x152" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_152x152.fbd5719aed2fdd40a3cff53cbdbe5cdd.png" /><link rel="apple-touch-icon" sizes="120x120" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/icons/ios/icon_120x120.b2e51adf3056bc5081202dd86d40517e.png" /><link rel="manifest" href="/static/version1588831572795/frontend/Scandiweb/pwa/en_US/Magento_Theme/manifest.cca4dc09e2ceca4e21aff0c34b855295.json" /></head>

    <body>
        <noscript> You need to enable JavaScript to run this app. </noscript>
        <div id="root"></div>
        <script src="<?= $this->getStaticBundleFile() ?>"></script>
    </body>
</html>
